@CHARSET "UTF-8";

.pnorth {
	width: 100%;
	height: 100%;
	position: relative;
	border: 0px red solid;
}

.pnorth ul {
	float: right;
	margin-right: 100px;
	margin-top: 20px;
}
.inpd{
	width: 100%;
	height: 10%;
	position: relative;
	border: 0px red solid;
}
.inpin{
	width: 100%;
	height: 89%;
	position: relative;
	border: 0px red solid;
}
.usearch{
	margin-top:20px;
	margin-left:500px;
}
.r-nav {
	margin-left: 20%;
}

.r-nav dl {
	position: relative;
	float: left;
}

.clearfix {
	height: 590px;
	padding-top: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-left: 0px;
}

.r-nav dd {
	position: relative;
	float: left;
	margin-left: 10px;
	line-height: 20px;
}

.r-nav dd a:hover {
	color: green;
}
#suform1 {
	margin-left: 450px;
	margin-top: 10px;
}

#suform2 {
	margin-left: 300px;
}

#manues,#upinfo{
	display: none;
}